@charset 'UTF-8';
@use 'sass:color' as color;
@use 'sass:math' as math;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$transparentColors: (
  "black": #000,
  "white": #fff
);
$masterColors: (
  "pink": #c78bda
);

$borderradius: 1rem;
$borderradius-sm: 0.5rem;

:root {
  @each $name, $color in $transparentColors {
    --color-#{$name}: #{$color};
    @for $i from 1 to 10 {
      --color-#{$name}-#{$i}: #{transparentize($color, math.div((10-$i), 10))};  
    }
  }
  @each $name, $color in $masterColors {
    --color-#{$name}: #{$color};
  }
  scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f155;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55555522;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555577;
}


@keyframes sine-slider {
  from {
    transform: translateY(-50%) scale(1);
  }
  to {
    transform: translateY(-50%) scale(.9);
  }
}

.btn {
  padding: .5rem 2rem;
  font-family: inherit;
  font-weight: 500;
  color: white;
  border-radius: 150px;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 2px 5px transparent;
  transition: color 300ms, transform 300ms, opacity 300ms, box-shadow 300ms;
  transform: translateY(0);
  cursor: pointer;
  &:hover {
    opacity: .9;
    transform: translateY(-1px);
    box-shadow: 0 2px 3px var(--color-black-5);
  }
}

.btn-cart {
  background-color: red;
}

.btn-ok {
  background-color: green;
}
.btn-cancel {
  background-color: gray;
}

.empty-cart-button {
  padding: .4rem .5rem;
}

