@use 'base' as *;

body {
  background-color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  padding: 0 1vw;
  margin: 0;
}


main {
  max-width: 1200px;
  margin: 85px auto;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

@supports not (backdrop-filter: blur(15px) grayscale(90%) brightness(90%)) {
  .sign-modal, .details-modal, .cart-modal {
    background-color: var(--color-black-9);
  }
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.sign-modal {
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px) grayscale(90%) brightness(90%);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
  .signer {
    background-color: var(--color-white);
    width: 400px;
    height: 50vh;
    border-radius: $borderradius;
    box-shadow: 0 0 25px var(--color-black-3);
    text-align: center;
    overflow: hidden;
    a, a:visited {
      text-decoration: none;
      color: green;
      font-weight: 500;
      letter-spacing: 1px;
      transition: color 300ms, transform 300ms;
      transform: translateY(0);
      display: inline-block;
    }
    a:hover  {
      color: red;
      transform: translateY(-2px);
    }
    h2 {
      font-weight: 400;
      text-align: left;
      font-size: 2rem;
      margin: 0;
      color: var(--color-black-3)
    }
    img {
      height: 3rem;
      opacity: .8;
    }
    input {
      font-family: inherit;
      padding: .5rem 0;
      margin-top: 1.5rem;
      font-size: 1.3rem;
      width: calc(100%);
      border: none;
      border-bottom: 1px solid var(--color-black-3);
      outline: none;
      background-color: transparent;
    }
    & p {
      text-align: left;
      font-size: .9rem;
      margin-top: 2rem;
      color: var(--color-black-5);
    }
    & .sign-in, .sign-up {
      display: flex;
      flex-direction: column;
      height: calc(100% - 6rem - 3rem);
      padding: 3rem;
      transition: transform 500ms;
    }
    & .buttons {
      margin-top: auto;
      align-self: flex-end;
    }
    .sign-in {
      transform: translateY(0);
      transition: transform 500ms ease;
    }
    .sign-up {
      transform: translateY(0);
      transition: transform 500ms ease;
    }

    .transit-in {
      transform: translateY(calc(-100% - 3rem)) !important;
    }
    .transit-up {
      transform: translateY(-100%) !important;
    }
  }
}

.details-modal {
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px) grayscale(90%) brightness(90%);
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
  display: none;
  .product-details {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
    max-width: 1020px;
    background-color: white;
    border-radius: $borderradius;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
    transition: width 200ms ease, height 400ms ease 150ms;
    & .discount-badge {
      position: absolute;
      font-weight: 800;
      font-size: 2rem;
      right: 4rem;
      top: 5rem;
      background-color: red;
      color: var(--color-white);
      width: 6rem;
      height: 6rem;
      border-radius: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: .5rem;
      & span {
        font-size: 1rem;
      }
    }
    &.visible {
      width: 90vw !important;
      height: 90vh !important;
    }
    .form-price {
      margin-top: auto;
      margin-bottom: 3rem;
      margin-right: 2rem;
      align-self: flex-end;
      justify-self: end;
      text-align: end;
      .original-price {
        text-decoration: line-through;
        margin-bottom: 0;
        color: var(--color-black-5)
      }
      .price-with-discount {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .btn {
        background-color: red;
      }
    }
    &__breadcrumbs  {
      display: flex;
      justify-content: space-between;
      p {
        margin: 0 ;
      }
      .close-btn {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: color 200ms;
        &:hover {
          color: red;
        }
      }
    }
    &__details {
      display: flex;
      margin: 2rem;
      &__text {

        padding: 0 3rem;
      }
    }
    &__imagebox {
      width: 50vw;
      max-width: 500px;
      min-width: 300px;
      max-width: 35vh;
      & > img:first-of-type {
        padding: 1rem;
        box-sizing: border-box;
        background-color: white;
      }
      & > img {
        margin: .5rem;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: scale-down;
        border-radius: $borderradius;
        border: 1px solid var(--color-black-3);
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px var(--color-black-1);
      }
      &-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 100%;
        & .image-selector {
          aspect-ratio: 1 / 1;
          object-fit: scale-down;
          width: 18%;
          border: 1px solid var(--color-black-3);
          border-radius: $borderradius;
          transform: translateY(0);
          filter: saturate(0);
          transition: transform 200ms, box-shadow 200ms;
          box-shadow: 0 2px 5px var(--color-black-1);
          cursor: pointer;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 3px 7px var(--color-black-1);
            filter: saturate(50%)
          }
          &.active {
            filter: saturate(100%)
          }
        }
      }
      .color-theme {
        display: inline-flex;
        margin-top: 1rem;
        border-radius: $borderradius;
        overflow: hidden;
          .color {
            width: 40px;
            height: 40px;
          }
      }
    }
    

  }

}

@media screen and (max-width: 890px) {
  .details-modal {
    .product-details {
      & .discount-badge {
        transform: scale(.7);
        left: 3rem;

      }
      &__details {
        flex-direction: column;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
      }
      &__imagebox {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & > img:nth-of-type(1) {
          height: 20vh;
          width: 20vh;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }
      &__imagebox-selector {
        width: 250px;
      }
      .color-theme {
        display: none;
      }
    }
    
  }
}



.cart-modal {
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px) grayscale(90%) brightness(90%);
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
  .cart {
    overflow: hidden;
    width: 0;
    height: 0;
    max-width: 1020px;
    background-color: white;
    border-radius: $borderradius;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
    transition: width 200ms ease, height 400ms ease 150ms;
    &.visible {
      width: 90vw !important;
      height: 90vh !important;
    }
    &__breadcrumbs  {
      display: flex;
      justify-content: space-between;
      p {
        margin: 0 ;
      }
      .close-btn {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: color 200ms;
        &:hover {
          color: red;
        }
      }
    }
    &__lister {
      width: 100%;
      height: 70%;
      border-radius: $borderradius;
      margin-top: 1rem;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__pricer {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      p:not(:nth-of-type(1)) {
        margin: 0;
        text-align: end;
        width: 100%;
        margin-left: auto;
        display: inline-flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 2rem;
        margin-bottom: .3rem;
        & span {
          display: block;
          margin-bottom: 1px;
          margin-top: 5px;
          font-size: 1rem;
          color: black;
        }
        & strong {
          font-weight: 400;
        };
      }
      &__info {
        display: block;
        text-align: right;
      }
      &__price {
        font-size: 1.3rem;
      }
      &__discount {
        font-size: 1.6rem;
        color: red;
      }
      &__total {
        font-size: 2rem;
      }
    }
    .btn {
      margin-top: 1rem;
      background-color: CornflowerBlue;
      justify-self: flex-end;
      align-self: flex-end;
    }
    &__lister {
      &__product {
        border-bottom: 1px solid var(--color-black-1);
        padding-bottom: .5rem;
        p {
          margin: 0;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img {
          width: 75px;
          height: 75px;
          object-fit: cover;
        }
      }
      &__product-info {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
      &__product-price {
        display: flex;
        align-items: center;
        gap: 2rem;
        .remove-product {
          background-color: transparent;
          outline: none;
          border: none;
          color: red;
          transition: color 300ms;
          cursor: pointer;
          &:hover {
            color: gray;
          }
          & > svg {
            pointer-events: none;
          }
        }
      }
    }
  }
  
}



footer {
  position: relative;
  margin: 0 auto;
  background-color: silver;
  background: linear-gradient(45deg, gray, silver, grayy);
  padding-top: 3rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  border-top-left-radius: $borderradius;
  border-top-right-radius: $borderradius;
  h4.header {
    margin: 0;
    padding: 0;
  }
  .col {
    min-width: 30%;
  }
  .links {
    margin: {
      left: 4rem;
      right: 4rem;
    }
    display: flex;
    justify-content: space-between;
    ul {
      padding: 0;
      li {
        list-style-type: none;
        line-height: 1.8rem;
        font-size: .9rem;
        font-weight: 500;
        a, a:visited {
          color: black;
          text-decoration: none;
          transition: color 300ms;
        }
        a:hover {
          color: gray;
        }
      }
    }
  }
  
  .copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
    overflow: hidden;
    background-color: #373737;
    border-top-left-radius: $borderradius;
    border-top-right-radius: $borderradius;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    transition: height 500ms ease;
    box-shadow: 0 -2px 5px var(--color-black-5);
    font-family: 'Courier New', Courier, monospace;
    p {
      color: white;
      font-weight: 200;
      text-align: center;
      margin: .3rem 2rem;
      font-size: .9rem;
      // letter-spacing: 1px;
    }
    p:nth-of-type(1) {
      margin: 0;
      color: white;
      text-align: center;
      margin-bottom: 1.3rem;
    }
    
    &:hover {
      height: 80%;
    }
    a, a:visited {
      color: rgb(0, 225, 255);
      transition: color 300ms;
    }
    a:hover {
      color: gray;
    }

  }
}